<!-- products.html -->
<section id="products" class="section section--products">
    <div class="container">
        <h2 class="section__title">Our Products</h2>
        <div class="products">
            <!-- Add product items here -->
            <div class="product">
                <img src="/static/images/dark-chocolate.png" alt="Chocolate 1" class="product__image">
                <h3 class="product__title">Dark Chocolate Truffles</h3>
                <p class="product__description">Indulge in our rich and velvety dark chocolate truffles, handcrafted with care and attention to detail.</p>
                <p class="product__price">$10.99</p>
            </div>
			<div class="product">
                <img src="/static/images/ruby.png" alt="Chocolate 2" class="product__image">
                <h3 class="product__title">Milk Chocolate Bars</h3>
                <p class="product__description">Savor the creamy goodness of our milk chocolate bars, made with the finest quality cocoa beans and fresh milk.</p>
                <p class="product__price">$8.99</p>
            </div>
            <div class="product">
                <img src="/static/images/Milk-Chocolate.png" alt="Chocolate 3" class="product__image">
                <h3 class="product__title">Ruby Chocolate Bars</h3>
                <p class="product__description">Ruby the creamy goodness of our ruby almond chocolate bars, made with the finest quality cocoa beans and fresh milk.</p>
                <p class="product__price">$7.99</p>
            </div>
			
            <!-- Add more product items as needed -->
        </div>
    </div>
</section>
